@import "tailwindcss";

@layer base {
  .font-serif {
    font-family: 'Noto Serif JP', serif;
  }
}

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #8882;
    border-radius: 10px;
  }
  .text-transparent {
    color: transparent !important;
  }
}